@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Montserrat;
}

header {
    border: 2px solid pink;
    height: 100px;
    background-color: #fbcffc;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}


.hamburguesa {
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

@media (max-width: 650px) {
    .menu-desaparece {
        display: none;
        
    }
   
}

@media (min-width: 650px) {
    .hamburguesa {
        display: none;
    }
}


.menu-desktop {
    border: 2px solid orange;
    height: 56px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-desktop li {
    border: 2px solid red;
    color: black;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
       
}

.menu-desktop li a:visited {
    color: black;
}

.boton-contacto a:link {
    color: white;
}

.boton-contacto a:visited {
    color: white;
}

.boton-contacto {
    background-color: #d2a6e7;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    
}

.boton-contacto a:visited {
    color: white;
}







/* SECCION HERO */

.hero-padre {
    border: 2px solid forestgreen;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1080px){
    .hero-padre {
        display: flex;
        flex-direction: row;
    } 
}

.hero-texto {
    width: 90%;
    border: 1px solid red;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

@media (min-width: 1080px){
    .hero-texto {
        align-items: flex-start;
        padding-left: 10%;  
    }
}

.hero-texto h2 {
    font-size: 30px;
    margin: 0 0 5px;
}

.hero-texto h1 {
    font-size: 45px;
    font-weight: 900;
    color: #be79df;
    margin: 0 0 5px;
}

.hero-texto p {
    font-size: 16px;
    color: gray;
    margin: 16px 0 40px;
}


.button-loque {
    background-color: #be79df;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imagen-hero {
    width: 90%;
    border: 1px solid blue;
}

.imagen-hero img {
    width: 100%;
    
    
}




/* SECCION MIS CONOCIMIENTOS */




.conocimientos {
    border: 2px solid violet;
    background-color:  #cff1ef;
    color: black;
    padding: 100px 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conocimientos-texto {
    border: 1px solid red;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conocimientos-texto h2 {
    border: 1px solid violet;
    font-size: 40px;
    font-weight: 900;
    padding: 50px 0;
    
}

@media (min-width: 650px) {
    .conocimientos-texto h2 {
        font-size: 45px;
        
    }
}

.conocimientos-texto p {
    border: 1px solid violet;
    margin: 0  20% 20px;
    padding: 50px 0;
    font-size: 16px;
}




.padre-lenguajes {
    width: 70%;
    max-width: 650px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.tarjeta-lenguajes {
    min-width: 180px;
    height: 180px; 
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.conocimientos i {
    font-size: 70px;
}

.conocimientos p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}







/* SECCION FRASE  */


.frase {
    
    border: 1px solid purple;
    background-color: #be79df;
    color: white;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {

    font-size: 20px;  
    font-weight: 900; 
    padding: 40px 0; 
}

.frase h2 {
    font-size: 25px;
    width: 90%;
    padding: 40px 0;
}

.frase p {
   width: 90%;
   max-width: 900px;
   padding-bottom: 40px;
}








/* SECCION MIS PROYECTOS  */



.proyectos-padre {
    border: 2px solid green;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.proyectos-padre h2 {
    text-align: center;
    margin: 30px 0 30px;
    font-size: 40px;
    font-weight: 900;
}


.proyectos-nav {
    border: 1px solid red;
    font-size: 12px;
    color: black;
    padding: 0 20px;
   }


.button-all {
    border: 0;
    padding: 5px 20px;
    background-color: #be79df;
    color: white;
    border-radius: 20px;
    margin-bottom: 25px;
}

.button-langs {
    border: 0;
    padding: 5px 20px;
    background-color: transparent;
    color: black;
    border-radius: 20px;
    margin-bottom: 25px;
}





.links-proyectos {
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
     

.tarjeta-proyectos {
    max-width: 340px;
    min-width: 250px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

.tarjeta-proyectos p {
    padding: 5px 0;
}

.proyectos-padre li {
    width: 90%;
    border: 1px solid gray;
    border-radius: 30px;
    }

.proyectos-padre li img {
    width: 100%;
    height: auto;
    padding: 10px;
}



/* --SECCION FOOOTER */





footer {
    /* border: 2px solid blue; */
    background-color: #be79df;
    padding: 30px 0;
}


.menu-oculto {
    display: none;
}

@media (min-width: 700px){
    .menu-oculto{
        display: block;
    }
}


.menu-desktop-nav {
    /* border: 2px solid orange; */
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.menu-desktop-nav li {
    /* border: 2px solid red; */
    margin: 0 10px;
    text-align: center;
    
}

.menu-desktop-nav li a {
    color: white;
}



.redes-sociales {
    /* border: 2px solid goldenrod; */
    display: flex;
    justify-content: center;
}

.redes-sociales>li {
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 40px;
}


footer p {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

