* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    border: 2px solid pink;
}

.hero {
    border: 2px solid red;
}

.conocimientos {
    border: 2px solid violet;
}

.frase {
    border: 2px solid purple;
}

.proyectos {
    border: 2px solid green;
}






footer {
    border: 2px solid blue;
}